/*imam*/
body {
  font-family: roboto;
}

}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1770;
  width: 100%;
  margin: 0 auto;
  background-color: #7BA6A5;
}

header {
  height: 100px;
  width: inherit;
  background-color: #A9D6D5;
  border-bottom: 15px solid #4F7877;
  position: fixed;
  top:0;
  z-index: 10;
}

.header-logo {
  float: left;
  padding-top: 30px;
  margin-left: 20px;
}
.header-logo img {
  width: 120px;
  height: auto;
}

.header-list {
  float: right;
  padding-right: 20px;
}

.header-list li {
  font-size: 18px;
  float: left;
  padding: 15px 30px;
}

.header-img {
  padding: 180px 0 100px 0;
  background-image: url('header.png');
  background-size: cover;
  text-align: center;
  color: #fff;
}

.header-txt {
  padding: 50px;
}

.header-txt h1 {
  font-size: 60px;
  line-height: 20px;
}

.header-txt p {
  font-size: 30px;
}

span {
  color: yellow;
}

/*chlaudya*/ 
.company-wrapper {
  height: 250px;
  background-color: #ebfffe;
  border-bottom: 15px solid #4F7877;
}
    
.company {
  color:black;  
  width: 40%;
  position: relative;
  padding: 20px 50px ;
  text-align: center;
  display: inline-block;
}

.company h2 {
  font-weight: bold;
  padding: 40px 10px 10px 20px ;
  font-size: 17px;
  position: relative;
}  
.company-icon {
  float: left;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 10px;
  width: 150px;
  display: inline;
}
.progate {
  padding-top: 80px;
}

/*krisna*/ 
.lesson-wrapper {
  padding-bottom: 100px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #7BA6A5;
  text-align: center;
  line-height: 15px;
  border-bottom: 2px solid #4F7877;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: white;
  text-align: left;
}
.heading h2 {
  font-size: 36px;
}
.heading p {
  font-size: 20px;
}
.lessons {
  width: 20%;
  border-radius: 20px;
  border-bottom: 7px solid black;
  border-left: 7px solid black;
  border-top: 7px solid black;
  border-right: 7px solid black;
  box-shadow: 4px 4px 8px #4F7877;
  background-color: #A9D6D5;
  display: inline-block;
  margin: 30px;
}
} 

.lesson {
  float: left;
  display: block;
 }

.lesson-icon {
  padding-top: 40px;
  margin-bottom: 20px;
  width: 100px;
  height: auto;
}
  
.txt-contents {
  width: 70%;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: normal;
}
/*krisna animation*/
.lessons:hover {
  width: 20%;
  border-radius: 20px;
  box-shadow: 7px 7px 9px #ebfffe;
  background-color: #A9D6D5;
  display: inline-block;
  margin: 30px;
}

/*prada*/
.contact-form {
  padding: 80px 10px 120px 80px;
  background-color: #A9D6D5;
  color: white;
}

.section-title {
  font-size: 40px;
  color: white;
}
input, textarea {
  width: 400px;
  margin-bottom: 5px;
  padding: 20px;
  font-size: 18px;
  background: #4F7877;
  color: white;
  border: none;
  border-radius: 10px;
  display: block;

}

textarea {
  padding: 50px 20px;
}
.submit {
  display: inline;
  background-color: #A9D6D5;
  color: white;
  width: 400px;
}
.contact-submit {

  margin-top: 20px;
}

footer {
  background-color: #4F7877;
  height: 150px;
  padding: 40px 0;
}

.footer-list {
  display: inline;
  float: right;
  color: white;
  text-align: right;
  margin-right: 40px;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-logo {
  float: left;
  padding-left: 20px;
}

.footer-logo img {
  width: 150px;
  display: inline;
  padding-top: 40px;
}